<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:action="@{/{id}(id=${user.getId()})}" th:method="PATCH" th:object="${user}">
    <label for="name" >Enter name: </label>
    <input id="name" th:field="*{username}" type="text"/>
    <br/>
    <label for="age">Enter age: </label>
    <input id="age" th:field="*{age}"  type="text"/>
    <br/>
    <label for="email">Enter email: </label>
    <input id="email" th:field="*{email}"  type="text"/>
    <br/>
    <label th:for="password">Пароль
        <input type="text" name="password" th:id="password">
    </label>
    <br/>
    <label th:for="roles">Выберите роль: </label>
    <select name="choseRoles" multiple size="3" >
        <option th:each="role : ${roles}" th:value="${role.getId()}" th:text="${role.getRole()}">
        </option>
    </select>
    <br/>
    <br/>
    <br/>
    <input type="submit" value="Update!"/>
    <br/>
</form>
<form th:if="${#request.userPrincipal != null}" th:action="@{/logout}">
    <button type="submit">Выйти</button>
</form>
</body>
</html>