<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>

<table BORDER="0">
    <tr>
        <th>Пользователь</th>
        <th>Возраст</th>
        <th>Email</th>
        <th>Пароль</th>
    </tr>
    <tbody>

    <div th:each="user : ${users}">
        <tr>
            <td><a th:href="@{/{id}(id=${user.getId()})}" th:text="${user.getUsername()}">user</a></td>
            <td><a th:text="${user.getAge()}">VALUE</a></td>
            <td><a th:text="${user.getEmail()}">VALUE</a></td>
            <td><a th:text="${user.getPassword()}">VALUE</a></td>
            <td>
                <div th:each="role: ${user.getRoles()}">
                    <span th:if="(${role.getRole()} == 'ROLE_ADMIN')" th:utext="Администратор"></span>
                </div>
            </td>
            <td>
                <form th:action="@{/{id}/edit(id=${user.getId()})}">
                    <input type="submit" value="Edit"/>
                </form>
            </td>
            <td>
                <form th:action="@{/{id}(id=${user.getId()})}" th:method="DELETE">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    </div>
    </tbody>
</table>

</br>

<hr/>
<form th:action="@{/new}">
    <button type="submit">Создать нового пользователя</button>
</form>

<form th:if="${#request.userPrincipal != null}" th:action="@{/logout}">
    <button type="submit">Выйти</button>
</form>
</body>
</html>