<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>

<table BORDER="0">
    <tr>
        <th>Пользователь</th>
        <th>Возраст</th>
        <th>Email</th>
    </tr>
    <tbody>
    <tr>
        <td>
            <a th:text="${user.getUsername()}">VALUE</a>
        </td>
        <td>
            <a th:text="${user.getAge}">VALUE</a>
        </td>
        <td>
            <a th:text="${user.getEmail}">VALUE</a>
        </td>
    </tbody>
</table>
<br/>
<form th:if="${#request.userPrincipal != null}" th:action="@{/logout}">
    <button type="submit">Выйти</button>
</form>
</body>
</html>